* {
  margin: 0;
}

.App {
  text-align: center;
}

.App > form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.App__todos {
  transition: 0.3s;
  font-size: 20px;
  text-transform: capitalize;
}
